<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Digital Bikes wants to use your Location to show you close stations</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Digital Bikes wants to use your Location to show you close stations</string>
	<key>NSCameraUsageDescription</key>
	<string>Digital Bikes wants to use your camera to take a picture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Digital Bikes wants to pick a picture from your Photo Library</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Digital Bikes wants to use your microphone to record audio</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
